
{% extends 'base.html' %}

{% block title %}Lista de Doadores{% endblock %}

{% block content %}        
        <section class="bg-white rounded-lg shadow-lg p-6">
            <h1 class="text-2xl font-semibold text-green-600 mb-6 text-center">Cadastro de Doador</h1>
            <form id="cadastroForm" class="space-y-4">
                <div>
                    <label for="nome" class="block text-gray-700 text-sm font-bold mb-2">Nome:</label>
                    <input type="text" id="nome" name="nome" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="nome-error" class="error-message"></div>
                </div>
                <div>
                    <label for="idade" class="block text-gray-700 text-sm font-bold mb-2">Idade:</label>
                    <input type="number" id="idade" name="idade" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="idade-error" class="error-message"></div>
                </div>
                <div>
                    <label for="sexo" class="block text-gray-700 text-sm font-bold mb-2">Sexo:</label>
                    <select id="sexo" name="sexo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                    <div id="sexo-error" class="error-message"></div>
                </div>
                <div>
                    <label for="data_nascimento" class="block text-gray-700 text-sm font-bold mb-2">Data de Nascimento:</label>
                    <input type="text" id="data_nascimento" name="data_nascimento" placeholder="DD/MM/AAAA" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="data_nascimento-error" class="error-message"></div>
                </div>
                <div>
                    <label for="cidade_natal" class="block text-gray-700 text-sm font-bold mb-2">Cidade Natal:</label>
                    <input type="text" id="cidade_natal" name="cidade_natal" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="cidade_natal-error" class="error-message"></div>
                </div>
                <div>
                    <label for="estado_natal" class="block text-gray-700 text-sm font-bold mb-2">Estado Natal:</label>
                    <input type="text" id="estado_natal" name="estado_natal" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="estado_natal-error" class="error-message"></div>
                </div>
                <div>
                    <label for="cpf" class="block text-gray-700 text-sm font-bold mb-2">CPF:</label>
                    <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="cpf-error" class="error-message"></div>
                </div>
                <div>
                    <label for="profissao" class="block text-gray-700 text-sm font-bold mb-2">Profissão:</label>
                    <input type="text" id="profissao" name="profissao" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="profissao-error" class="error-message"></div>
                </div>
                <div>
                    <label for="cidade_residencia" class="block text-gray-700 text-sm font-bold mb-2">Cidade de Residência:</label>
                    <input type="text" id="cidade_residencia" name="cidade_residencia" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="cidade_residencia-error" class="error-message"></div>
                </div>
                <div>
                    <label for="estado_residencia" class="block text-gray-700 text-sm font-bold mb-2">Estado de Residência:</label>
                    <input type="text" id="estado_residencia" name="estado_residencia" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="estado_residencia-error" class="error-message"></div>
                </div>
                <div>
                    <label for="estado_civil" class="block text-gray-700 text-sm font-bold mb-2">Estado Civil:</label>
                    <input type="text" id="estado_civil" name="estado_civil" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="estado_civil-error" class="error-message"></div>
                </div>
                <div>
                    <label for="contato_emergencia" class="block text-gray-700 text-sm font-bold mb-2">Contato de Emergência:</label>
                    <input type="text" id="contato_emergencia" name="contato_emergencia" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <div id="contato_emergencia-error" class="error-message"></div>
                </div>
                <div>
                    <label for="tipo_sanguineo" class="block text-gray-700 text-sm font-bold mb-2">Tipo Sanguíneo:</label>
                    <select id="tipo_sanguineo" name="tipo_sanguineo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">Selecione</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <div id="tipo_sanguineo-error" class="error-message"></div>
                </div>
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cadastrar Doador</button>
                <a href="{% url 'index' %}" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300">Voltar para a Tela Inicial</a>
            </form>
        </section>


<script>
    const form = document.getElementById('cadastroForm');
    const nomeInput = document.getElementById('nome');
    const idadeInput = document.getElementById('idade');
    const sexoInput = document.getElementById('sexo');
    const dataNascimentoInput = document.getElementById('data_nascimento');
    const cidadeNatalInput = document.getElementById('cidade_natal');
    const estadoNatalInput = document.getElementById('estado_natal');
    const cpfInput = document.getElementById('cpf');
    const profissaoInput = document.getElementById('profissao');
    const cidadeResidenciaInput = document.getElementById('cidade_residencia');
    const estadoResidenciaInput = document.getElementById('estado_residencia');
    const estadoCivilInput = document.getElementById('estado_civil');
    const contatoEmergenciaInput = document.getElementById('contato_emergencia');
    const tipoSanguineoInput = document.getElementById('tipo_sanguineo');


    const nomeError = document.getElementById('nome-error');
    const idadeError = document.getElementById('idade-error');
    const sexoError = document.getElementById('sexo-error');
    const dataNascimentoError = document.getElementById('data_nascimento-error');
    const cidadeNatalError = document.getElementById('cidade_natal-error');
    const estadoNatalError = document.getElementById('estado_natal-error');
    const cpfError = document.getElementById('cpf-error');
    const profissaoError = document.getElementById('profissao-error');
    const cidadeResidenciaError = document.getElementById('cidade_residencia-error');
    const estadoResidenciaError = document.getElementById('estado_residencia-error');
    const estadoCivilError = document.getElementById('estado_civil-error');
    const contatoEmergenciaError = document.getElementById('contato_emergencia-error');
    const tipoSanguineoError = document.getElementById('tipo_sanguineo-error');

    function validarNome() {
        const nome = nomeInput.value.trim();
        if (!nome) {
            nomeError.textContent = 'Nome é obrigatório.';
            return false;
        }
        nomeError.textContent = '';
        return true;
    }

    function validarIdade() {
        const idade = idadeInput.value.trim();
        if (!idade) {
            idadeError.textContent = 'Idade é obrigatória.';
            return false;
        }
        const idadeNum = parseInt(idade);
        if (isNaN(idadeNum) || idadeNum <= 0 || idadeNum > 125) {
            idadeError.textContent = 'Idade deve ser um número entre 1 e 125.';
            return false;
        }
        idadeError.textContent = '';
        return true;
    }

    function validarSexo() {
        const sexo = sexoInput.value.trim();
        if (!sexo) {
            sexoError.textContent = 'Sexo é obrigatório.';
            return false;
        }
        if (sexo !== 'M' && sexo !== 'F') {
            sexoError.textContent = 'Sexo deve ser "M" ou "F".';
            return false;
        }
        sexoError.textContent = '';
        return true;
    }

    function validarDataNascimento() {
        const dataNascimento = dataNascimentoInput.value.trim();
        if (!dataNascimento) {
            dataNascimentoError.textContent = 'Data de nascimento é obrigatória.';
            return false;
        }
        const regex = /^\d{2}\/\d{2}\/\d{4}$/;
        if (!regex.test(dataNascimento)) {
            dataNascimentoError.textContent = 'Data de nascimento deve estar no formato DD/MM/AAAA.';
            return false;
        }
        const partes = dataNascimento.split('/');
        const dia = parseInt(partes[0], 10);
        const mes = parseInt(partes[1], 10);
        const ano = parseInt(partes[2], 10);

        if (mes < 1 || mes > 12 || dia < 1 || dia > 31) {
            dataNascimentoError.textContent = 'Data de nascimento inválida.';
            return false;
        }

        if ((mes === 4 || mes === 6 || mes === 9 || mes === 11) && dia > 30) {
            dataNascimentoError.textContent = 'Data de nascimento inválida.';
            return false;
        }

        if (mes === 2) {
            const ehBissexto = (ano % 4 === 0 && ano % 100 !== 0) || ano % 400 === 0;
            if (dia > 29 || (dia === 29 && !ehBissexto)) {
                dataNascimentoError.textContent = 'Data de nascimento inválida.';
                return false;
            }
        }
        dataNascimentoError.textContent = '';
        return true;
    }

    function validarCidadeNatal() {
        const cidadeNatal = cidadeNatalInput.value.trim();
        if (!cidadeNatal) {
            cidadeNatalError.textContent = 'Cidade natal é obrigatória.';
            return false;
        }
        cidadeNatalError.textContent = '';
        return true;
    }

    function validarEstadoNatal() {
        const estadoNatal = estadoNatalInput.value.trim();
        if (!estadoNatal) {
            estadoNatalError.textContent = 'Estado natal é obrigatório.';
            return false;
        }
        estadoNatalError.textContent = '';
        return true;
    }

    function validarCPF() {
        const cpf = cpfInput.value.trim();
        if (!cpf) {
            cpfError.textContent = 'CPF é obrigatório.';
            return false;
        }
        const regex = /^\d{3}\.\d{3}\.\d{3}-\d{2}$/;
        if (!regex.test(cpf)) {
            cpfError.textContent = 'CPF deve estar no formato 000.000.000-00.';
            return false;
        }
        const numeros = cpf.replace(/\D/g, '');
        if (numeros.length !== 11) {
            cpfError.textContent = 'CPF deve ter 11 dígitos.';
            return false;
        }
        if (/^(\d)\1+$/.test(numeros)) {
            cpfError.textContent = 'CPF inválido.';
            return false;
        }
        let soma = 0;
        for (let i = 0; i < 9; i++) {
            soma += parseInt(numeros[i]) * (10 - i);
        }
        let resto = soma % 11;
        let digitoVerificador1 = resto < 2 ? 0 : 11 - resto;
        if (digitoVerificador1 !== parseInt(numeros[9])) {
            cpfError.textContent = 'CPF inválido.';
            return false;
        }
        soma = 0;
        for (let i = 0; i < 10; i++) {
            soma += parseInt(numeros[i]) * (11 - i);
        }
        resto = soma % 11;
        let digitoVerificador2 = resto < 2 ? 0 : 11 - resto;
        if (digitoVerificador2 !== parseInt(numeros[10])) {
            cpfError.textContent = 'CPF inválido.';
            return false;
        }
        cpfError.textContent = '';
        return true;
    }

    function validarProfissao() {
        const profissao = profissaoInput.value.trim();
        if (!profissao) {
            profissaoError.textContent = 'Profissão é obrigatória.';
            return false;
        }
        profissaoError.textContent = '';
        return true;
    }

    function validarCidadeResidencia() {
    const cidadeResidencia = cidadeResidenciaInput.value.trim();
        if (!cidadeResidencia) {
            cidadeResidenciaError.textContent = 'Cidade de residencia é obrigatória.';
            return false;
        }
        cidadeResidenciaError.textContent = '';
        return true;
    }

    function validarEstadoResidencia() {
        const estadoResidencia = estadoResidenciaInput.value.trim();
        if (!estadoResidencia) {
            estadoResidenciaError.textContent = 'Estado de residencia é obrigatório.';
            return false;
        }
        estadoResidenciaError.textContent = '';
        return true;
    }

    function validarEstadoCivil() {
        const estadoCivil = estadoCivilInput.value.trim();
        if (!estadoCivil) {
            estadoCivilError.textContent = 'Estado civil é obrigatório.';
            return false;
        }
        estadoCivilError.textContent = '';
        return true;
    }

    function validarContatoEmergencia() {
        const contatoEmergencia = contatoEmergenciaInput.value.trim();
        if (!contatoEmergencia) {
            contatoEmergenciaError.textContent = 'Contato de emergência é obrigatório.';
            return false;
        }
        contatoEmergenciaError.textContent = '';
        return true;
    }

    function validarTipoSanguineo() {
        const tipoSanguineo = tipoSanguineoInput.value.trim();
        if (!tipoSanguineo) {
            tipoSanguineoError.textContent = 'Tipo sanguíneo é obrigatório.';
            return false;
        }
        if (!['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'].includes(tipoSanguineo)) {
            tipoSanguineoError.textContent = 'Tipo sanguíneo inválido.';
            return false;
        }
        tipoSanguineoError.textContent = '';
        return true;
    }

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        let isValid = true;

        isValid = validarNome() && isValid;
        isValid = validarIdade() && isValid;
        isValid = validarSexo() && isValid;
        isValid = validarDataNascimento() && isValid;
        isValid = validarCidadeNatal() && isValid;
        isValid = validarEstadoNatal() && isValid;
        isValid = validarCPF() && isValid;
        isValid = validarProfissao() && isValid;
        isValid = validarCidadeResidencia() && isValid;
        isValid = validarEstadoResidencia() && isValid;
        isValid = validarEstadoCivil() && isValid;
        isValid = validarContatoEmergencia() && isValid;
        isValid = validarTipoSanguineo() && isValid;

        if (isValid) {
            // Se todos os campos estiverem válidos, envie o formulário
            form.submit();
        }
    });

    nomeInput.addEventListener('blur', validarNome);
    idadeInput.addEventListener('blur', validarIdade);
    sexoInput.addEventListener('change', validarSexo);
    dataNascimentoInput.addEventListener('blur', validarDataNascimento);
    cidadeNatalInput.addEventListener('blur', validarCidadeNatal);
    estadoNatalInput.addEventListener('blur', validarEstadoNatal);
    cpfInput.addEventListener('blur', validarCPF);
    profissaoInput.addEventListener('blur', validarProfissao);
    cidadeResidenciaInput.addEventListener('blur', validarCidadeResidencia);
    estadoResidenciaInput.addEventListener('blur', validarEstadoResidencia);
    estadoCivilInput.addEventListener('blur', validarEstadoCivil);
    contatoEmergenciaInput.addEventListener('blur', validarContatoEmergencia);
    tipoSanguineoInput.addEventListener('change', validarTipoSanguineo);
</script>


{% endblock %}
